<div id="body">

  <div id="header">
    <div class = "container">
      <div class ="row">

        <h1 class="">Search your playlists by genre</h1>
      </div>
    </div>
  </div>


  <div class = "container">

    <div class="row">
      <div class="col">
      </div>
      <app-playlist-service></app-playlist-service>
<!--      <app-user-input></app-user-input>-->

<!--      <app-show-playlist> </app-show-playlist>-->


    </div>

  </div>





</div>
<div id="footer">
  <div class = "container">
    <div class ="row">
      <div class=""> <a href="https://github.com/HowSimple/SpotifyPlaylistApp">PlaylistApp <img height="16px" width="16px" src='http://github.com/favicon.ico' /></a>
      </div>

    </div>
  </div>

</div>
