

h1 {
  color: white
}
#header {
  background-color: darkslategrey;
  font-size: 32px;
  text-align: center;
  color: white;
}

#footer {
  background-color: darkslategrey;
  font-size: 32px;
  text-align: center;
  color: white;
}

