<div id="header">
  <div class = "container">
    <div class ="row">

      <h1 class="">Search your playlists by genre</h1>
    </div>
  </div>
</div>


  <div class = "container">

    <div class="row">
      <div class="col">
      </div>
      <app-user-input></app-user-input>

      <app-show-playlist> </app-show-playlist>


    </div>

  </div>



<div id="footer">
  <div class = "container">
    <div class ="row">
      <div class="">Caleb Vaughn & Jingfan Bai Spotify Play List App</div>

    </div>
  </div>

</div>
