<div class = "container">

  <div class="row">
    <div class="col-lg-5">
      <app-user-input (submitPlaylistEvent)="playlist_url =$event" (submitGenreEvent)="selectedGenre=$event"></app-user-input>
      <button (click)="searchPlaylistByGenre('3MBz0XGauQW6cFj9Ze9tAK','indie')" >Login</button>
      <button (click)="getPlaylistSongs(this.playlist_url)" >Playlist</button>

      <button (click)="getPlaylistSongs('3MBz0XGauQW6cFj9Ze9tAK')" >Playlist</button>

    </div>

      <div class="col-lg-5" *ngIf="genres.length > 0">
        <select #genre (change)="selectGenre($event)" >
          <option value="default">Select a genre</option>

          <option *ngFor="let genre of genres" #genre [value]="genre"  >
            {{genre}}
          </option>
        </select>
        <button (click)="searchPlaylistByGenre(this.playlist_url,this.selectedGenre)">Search</button>
    </div>
      <div class="row"> <div class="col" *ngIf="genres.length > 0">
        <app-show-playlist [songs]="playlist_songs" > </app-show-playlist>
      </div>

      </div>
    <div>{{playlist_url}}</div>







    <!--<div *ngIf="playlist_url!=''">

    </div>
-->

  </div>

</div>
