<form >
  <div id="form" class="form-group">

    <div class="form-group col-lg-6 col-lg-offset-3 input-group">

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <input  name="query-playlist"  class="form-control" placeholder="enter playlist URL:" type="text">

          </div>
          <div class="col-sm">
            <input  name="query-song"  class="form-control" placeholder="Song URL:" type="text">

          </div>

        </div>

      </div>



      <span class="input-group-addon"></span>


    </div>
    <br>
    <button (click)="spotifyPlaylistQuery()" type="submit" class="btn btn primary col-lg-2 col-lg-offset-5 " >Go</button>
  </div>
</form>
