#form {
  margin: 0;
  padding: 0;

}

input {
  display: block;

  font-size: 18px;
  color: gray;
  border: none;
  text-indent: 1em;
  border-radius: 30px;
  background: url("images/search.png") no-repeat rgba(0,0,0, .3);
  background-color: white;
  outline: none;
}
