<form >
  <div id="form" class="form-group">

    <div class="form-group col-lg-3 col-lg-offset-3 input-group">

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <input #playlist  name="query-playlist"  class="form-control" placeholder="Enter your playlist:" type="text">

          </div>
          <div class="col-sm">
            <input #genre name="query-genre"  class="form-control" placeholder="Genre to search for:" type="text">

          </div>
        </div>
        <button type="button" (click)="SubmitQuery(playlist.value,genre.value)">Search</button>

      </div>


    </div>
    <br>

  </div>
</form>
