<form >
  <div class="form-group">
    <div class="form-group col-lg-6 col-lg-offset-3 input-group">

      <input  name="query-playlist"  class="form-control" placeholder="enter playlist URL:" type="text">
      <input  name="query-song"  class="form-control" placeholder="Song URL:" type="text">

      <span class="input-group-addon"></span>


    </div>
    <br>
    <button (click)="spotifyPlaylistQuery()" type="submit" class="btn btn primary col-lg-2 col-lg-offset-5 " >Go</button>
  </div>
</form>
